/*
Courtney Ardis
AVF 1302
Demo App 2
*/
*{  
    margin:0;  
    padding:0;  
}  
#home{  
    background: url("../img/corkboard.jpg");
    background-repeat: no-repeat;
    font-family:arial,sans-serif;  
    font-size:100%;  
}
/*inset the title*/  
h1{
    color: #663300;
    text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
    font-size: 50px;
}
/*style the twitter and github logo*/
#twitter, #github{
    width: 64px;
    height: 64px;
    border-radius: 15px;
    box-shadow: 2px 4px 2px rgba(33,33,33,1);
}
#github{
    background-color: white;
}
/*style native feature links as sticky notes*/
section#native ul li h2{  
  font-size:140%;  
  font-weight:bold;  
  padding-bottom:10px;  
}  
section#native ul li p{  
  font-family:"Lucida Handwriting",arial,sans-serif;  
  font-size:110%;  
}

h2,p{  
    font-size:100%;  
    font-weight:normal;  
}  
section#native ul,li{  
    list-style:none;  
    text-align: center;

}  
section#native ul{  
    overflow:hidden;  
    padding:2em;

}  
section#native ul li{  
    margin:1em;  
    float:left;  
} 
section#native ul li a{  
    text-decoration:none;  
    color:#000;  
    background:#ffc;  
    display:block;  
    height:10em;  
    width:10em;  
    padding:1em; 
    box-shadow: 5px 5px 7px rgba(33,33,33,1); 
}
/*rotates sticky notes*/
section#native ul li:nth-child(even) a{
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    -o-transform:rotate(4deg);
    position:relative;  
    top:5px;
    background-color:#cfc;
}
section#native ul li:nth-child(odd) a{
    -webkit-transform:rotate(-4deg);
    -o-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg);    
    position:relative;  
    top:5px;

}
/*changes the background color of sticky notes*/
section#native ul li:nth-child(3n) a{
    background-color: #ccf;
}
section#native ul li:nth-child(4n) a{
    background-color: #ADEAEA;
} 
section#research ul{
    padding: 30px;
    background: url(../img/tornPaper.png);
    background-position: center;
    background-repeat: no-repeat;

}

/*style research links */
section#research ul li, section#api ul li{
    text-align: center;
    padding:1em;
    margin:0em 1em;
}
/*align footer text*/
footer small p{
    color:#404040;
    font-weight: bold;
    text-align: center;
}


/*Phone*/
@media screen and (max-device-width: 480px) {
    html{
        background-image: url(../img/corkboard_phone.jpg);
        background-attachment: scroll;
    }
}