/*
Courtney Ardis
AVF 1302
Demo App 2
*/
*{  
    margin:0;  
    padding:0;  
}  
#home, #researchPage1, #researchPage2, #researchPage3, #twitterPage, #githubPage, #contactsPage, #geoPage{  
    background: url("../img/corkboard.jpg");
    background-repeat: repeat;
    font-family:arial,sans-serif;  
    font-size:100%; 
}
/*inset the title*/  
header h1{
    color: #663300;
    text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
    font-size: 50px;
}
/*style the twitter and github logo*/
#twitter, #github{
    width: 64px;
    height: 64px;
    border-radius: 15px;
    box-shadow: 2px 4px 2px rgba(33,33,33,1);
}
#github{
    background-color: white;
}
/*style native feature links as sticky notes*/
section#native ul li h2{  
  font-size:140%;  
  font-weight:bold;  
  padding-bottom:10px;  
}  
section#native ul li p{  
  font-family:Lucida,arial,sans-serif;  
  font-size:110%;  
}
/*style headers and paragraphs of pages*/
h2,p{  
    font-size:100%;  
    font-weight:normal;  
}  
section#native ul,li{  
    list-style:none;  
    text-align: center;
}  
section#native ul{  
    overflow:hidden;  
    padding-bottom:1em;
}  
section#native ul li, section#research ul li{  
    margin:1em;  
    display:inline-block;
    text-align: center; 
} 
section#native ul li a{  
    text-decoration:none;  
    color:#000;  
    background:#ffc;  
    display:inline-block;  
    height:10em;  
    width:10em;  
    padding:1em; 
    box-shadow: 5px 5px 7px rgba(33,33,33,1); 
}
/*rotates sticky notes*/
section#native ul li:nth-child(even) a{
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    -o-transform:rotate(4deg);
    position:relative;  
    top:5px;
    background-color:#cfc;
}
section#native ul li:nth-child(odd) a{
    -webkit-transform:rotate(-4deg);
    -o-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg);    
    position:relative;  
    top:5px;

}
/*changes the background color of sticky notes*/
section#native ul li:nth-child(3n) a{
    background-color: #ccf;
}
section#native ul li:nth-child(4n) a{
    background-color: #ADEAEA;
} 
section#research ul{
    padding: 30px;
    background: url(../img/tornPaper.png);
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden; 
    padding-bottom:2em; 
}
/*style research links */
section#research ul li, section#api ul li{
    text-align: center;
    padding:1em;
    margin:0em 1em;
}
/*align research links*/
section#research{
    text-align: center;
}
/*style values on geolocation page*/
#geo section p{
    
}
#contactsPage section form li p{
    padding: 1.5em;
    margin: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    border:1px dotted black;
}
#contactsPage form label{
    text-align: left;
}
/*style twitter, research and github page opaque overlayed background*/
#twitterPage section, section.research, #githubPage section, #contactsPage section, #geo{
    margin: 20px;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.5);
    border:1px solid black;
}
#twitterPage li, #githubPage li, #contacts li, #geo li{
    text-align: left;
    padding: 2px;
}
/*style research page*/
#researchPage1 p:nth-child(even), #researchPage2 p:nth-child(even), #researchPage3 p:nth-child(odd){
    font-weight: bold;
}
/*style video*/
video {
    margin: 0px auto;
    display: block;
    padding-top:2em;
    padding-bottom: 1em;
}
/*style images*/
img{
    max-width: 100%;
}
/*align footer text*/
footer small p{
    color:#404040;
    font-weight: bold;
    text-align: center;
}

/*Landscape view*/
@media all and (orientation: landscape){
    body{width: 10%;}
}
/*Phone screens 480x320*/
@media screen and (max-device-width: 720px) {
    /*scrolls background*/
    html{
        background-attachment: scroll;
    }
    header h1{
        font-size: 25px;
    }
    /*changes display of research li*/
    section#research ul li{ 
    display:inline;
    margin: 0;
    }
    /*stretch images to 100% of the screen*/
    img{
        max-width: 100%;
    }
    /*changes display of native links;
    makes the sticky notes smaller*/
    section#native ul li a{
        width:5.5em;
        height:5.5em;
    }
    /*changes font of sticky notes headers*/
    section#native ul li h2{  
        font-size:105%;  
    }  
    /*changes the font of the sticky note description*/
    section#native ul li p{  
        font-size:90%;  
    }
    /*changes the background image for the research section
    to be 100% of the device's width*/
    section#research ul{
        background-size: 100%;
    }
}